In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('ny-taxi-2018-sample.csv')

In [ ]:
df

,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,payment_type,fare_amount,extra,tip_amount,total_amount,pickup_location_id,dropoff_location_id
0,2018-03-27T13:17:01,2018-03-27T13:45:15,2,7.45,1,25.5,0.0,0.00,26.30,75,182
1,2018-01-07T15:03:56,2018-01-07T15:41:36,5,13.39,1,41.5,0.0,9.61,57.67,138,90
2,2018-03-30T08:54:43,2018-03-30T09:27:15,1,10.80,3,35.5,0.0,0.00,42.06,138,162
3,2018-11-01T16:49:48,2018-11-01T17:27:01,3,3.94,2,23.0,1.0,0.00,24.80,163,148
4,2018-08-18T13:21:17,2018-08-18T13:56:11,6,10.46,1,35.5,0.0,8.41,50.47,230,138
...,...,...,...,...,...,...,...,...,...,...,...
4919,2018-09-26T10:50:01,2018-09-26T10:54:43,1,0.59,2,5.0,0.0,0.00,5.80,141,141
4920,2018-06-23T16:11:19,2018-06-23T16:15:52,1,0.80,2,5.0,0.0,0.00,5.80,246,158
4921,2018-05-06T05:11:47,2018-05-06T05:15:15,6,1.00,1,5.0,0.5,1.26,7.56,230,246
4922,2018-02-20T12:53:57,2018-02-20T12:58:48,2,0.66,1,5.0,0.0,1.16,6.96,246,100
4923,2018-09-14T00:16:00,2018-09-14T00:27:16,1,6.29,1,19.0,0.5,5.08,25.38,238,243

In [ ]:
df['pickup_datetime']

0       2018-03-27T13:17:01
1       2018-01-07T15:03:56
2       2018-03-30T08:54:43
3       2018-11-01T16:49:48
4       2018-08-18T13:21:17
               ...
4919    2018-09-26T10:50:01
4920    2018-06-23T16:11:19
4921    2018-05-06T05:11:47
4922    2018-02-20T12:53:57
4923    2018-09-14T00:16:00
Name: pickup_datetime, Length: 4924, dtype: object

In [ ]:
df.head()

In [ ]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['dropoff_datetime	'] = pd.to_datetime(df['dropoff_datetime'])

In [ ]:
df

In [ ]:
df['dropoff_datetime\t']

In [ ]:
df['dropoff_datetime\t'] = pd.to_datetime(df['dropoff_datetime\t'])

In [ ]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['dropoff_datetime'] = pd.to_datetime(df['dropoff_datetime'])

datetime_dim = df[['pickup_datetime', 'dropoff_datetime']].reset_index(drop=True)


datetime_dim['pick_hour'] = datetime_dim['pickup_datetime'].dt.hour
datetime_dim['pick_day'] = datetime_dim['pickup_datetime'].dt.day
datetime_dim['pick_month'] = datetime_dim['pickup_datetime'].dt.month
datetime_dim['pick_year'] = datetime_dim['pickup_datetime'].dt.year
datetime_dim['pick_weekday'] = datetime_dim['pickup_datetime'].dt.weekday
datetime_dim['drop_hour'] = datetime_dim['dropoff_datetime'].dt.hour
datetime_dim['drop_day'] = datetime_dim['dropoff_datetime'].dt.day
datetime_dim['drop_month'] = datetime_dim['dropoff_datetime'].dt.month
datetime_dim['drop_year'] = datetime_dim['dropoff_datetime'].dt.year
datetime_dim['drop_weekday'] = datetime_dim['dropoff_datetime'].dt.weekday

datetime_dim['datetime_id'] = datetime_dim.index


datetime_dim = datetime_dim[['datetime_id', 'pickup_datetime', 'pick_hour', 'pick_day', 'pick_month', 'pick_year', 'pick_weekday',
                             'dropoff_datetime', 'drop_hour', 'drop_day', 'drop_month', 'drop_year', 'drop_weekday']]

datetime_dim.head()

In [ ]:
df.head()

In [ ]:
df['payment_type']

In [ ]:
##creando un dataframe  con diccionario para tipos de pagos

payment_type_name = {
    1: "tarjeta",
    2: "efectivo",
    3: "transferencia",
    4: "disputa"
}


payment_type_dim = df[['payment_type']].reset_index(drop=True)
payment_type_dim['payment_type_id'] = payment_type_dim.index
payment_type_dim['payment_type_name'] = payment_type_dim['payment_type'].map(payment_type_name)
payment_type_dim = payment_type_dim[['payment_type_id', 'payment_type', 'payment_type_name']]

print(payment_type_dim)

In [ ]:
payment_type_dim

In [ ]:
query = pd.concat([df, payment_type_dim, datetime_dim], axis=1)

In [ ]:
query